# IPL Dataset

In [247]:
import pandas as pd
import numpy as np
import matplotlib as mp

In [248]:
df = pd.read_csv("matches.csv")
df.head()

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,2017,Hyderabad,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
1,2,2017,Pune,2017-04-06,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Rising Pune Supergiant,0,7,SPD Smith,Maharashtra Cricket Association Stadium,A Nand Kishore,S Ravi,NaN
2,3,2017,Rajkot,2017-04-07,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Kolkata Knight Riders,0,10,CA Lynn,Saurashtra Cricket Association Stadium,Nitin Menon,CK Nandan,NaN
3,4,2017,Indore,2017-04-08,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab,field,normal,0,Kings XI Punjab,0,6,GJ Maxwell,Holkar Cricket Stadium,AK Chaudhary,C Shamshuddin,NaN
4,5,2017,Bangalore,2017-04-08,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore,bat,normal,0,Royal Challengers Bangalore,15,0,KM Jadhav,M Chinnaswamy Stadium,NaN,NaN,NaN

Q1. Count the total number of matches conducted in 2008.

In [249]:
(df['season'] == 2018).sum()

60

Q2. Find the cities where the maximum and minimum number of matches were
conducted.

In [250]:
print("Largest is: ", df['city'].value_counts().nlargest(1))
print("Smallest is: ", df['city'].value_counts().nsmallest(1))

Largest is:  Mumbai    101
Name: city, dtype: int64
Smallest is:  Bloemfontein    2
Name: city, dtype: int64

In [251]:
df[df['city'] == "Bloemfontein"]

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
160,161,2009,Bloemfontein,2009-05-15,Delhi Daredevils,Kings XI Punjab,Kings XI Punjab,field,normal,0,Kings XI Punjab,0,6,B Lee,OUTsurance Oval,HDPK Dharmasena,IL Howell,NaN
164,165,2009,Bloemfontein,2009-05-17,Delhi Daredevils,Rajasthan Royals,Delhi Daredevils,bat,normal,0,Delhi Daredevils,14,0,AB de Villiers,OUTsurance Oval,SS Hazare,IL Howell,NaN

Q3. Find total count of matches city-wise.

In [252]:
print(df['city'].value_counts())
df['city'].value_counts().sum()

Mumbai            101
Kolkata            77
Delhi              74
Bangalore          66
Hyderabad          64
Chennai            57
Jaipur             47
Chandigarh         46
Pune               38
Durban             15
Bengaluru          14
Visakhapatnam      13
Centurion          12
Ahmedabad          12
Rajkot             10
Mohali             10
Indore              9
Dharamsala          9
Johannesburg        8
Cuttack             7
Ranchi              7
Port Elizabeth      7
Cape Town           7
Abu Dhabi           7
Sharjah             6
Raipur              6
Kochi               5
Kanpur              4
Nagpur              3
Kimberley           3
East London         3
Bloemfontein        2
Name: city, dtype: int64

749

Q4. Tally the toss decisions each team has taken.

In [253]:
uniques = df['toss_winner'].unique()
for i in uniques:
    print(df[df['toss_winner'] == i][['toss_winner', 'toss_decision']].value_counts().to_string())

toss_winner                  toss_decision
Royal Challengers Bangalore  field            61
                             bat              20
toss_winner             toss_decision
Rising Pune Supergiant  field            6
toss_winner            toss_decision
Kolkata Knight Riders  field            62
                       bat              30
toss_winner      toss_decision
Kings XI Punjab  field            55
                 bat              26
toss_winner          toss_decision
Sunrisers Hyderabad  field            26
                     bat              20
toss_winner     toss_decision
Mumbai Indians  field            54
                bat              44
toss_winner    toss_decision
Gujarat Lions  field            14
               bat               1
toss_winner       toss_decision
Delhi Daredevils  field            51
                  bat              29
toss_winner          toss_decision
Chennai Super Kings  bat              48
                     field            41
toss_winner       toss_decision
Rajasthan Royals  field            48
                  bat              32
toss_winner      toss_decision
Deccan Chargers  bat              24
                 field            19
toss_winner           toss_decision
Kochi Tuskers Kerala  field            5
                      bat              3
toss_winner    toss_decision
Pune Warriors  bat              11
               field             9
toss_winner              toss_decision
Rising Pune Supergiants  field            4
                         bat              3
toss_winner     toss_decision
Delhi Capitals  field            8
                bat              2

Q5. Count the total number of normal and tied matches.

In [254]:
df['result'].value_counts()[['normal', 'tie']]

normal    743
tie         9
Name: result, dtype: int64

Q6. Find the teams where the result was a tie

In [255]:
df[df["result"] == "tie"][["team1", "team2"]]

                           team1                        team2
33                 Gujarat Lions               Mumbai Indians
125             Rajasthan Royals        Kolkata Knight Riders
189              Kings XI Punjab          Chennai Super Kings
387  Royal Challengers Bangalore          Sunrisers Hyderabad
400             Delhi Daredevils  Royal Challengers Bangalore
475             Rajasthan Royals        Kolkata Knight Riders
535             Rajasthan Royals              Kings XI Punjab
705        Kolkata Knight Riders               Delhi Capitals
746               Mumbai Indians          Sunrisers Hyderabad

Q7. Find the team which won the match by the highest and lowest number of
runs.

In [256]:
display(df[df['win_by_runs'] == df['win_by_runs'].max()][['winner', 'win_by_runs']])
display(df[df['win_by_runs'] == 1][['winner', 'win_by_runs']])

            winner  win_by_runs
43  Mumbai Indians          146

                          winner  win_by_runs
58                Mumbai Indians            1
105              Kings XI Punjab            1
163              Kings XI Punjab            1
344             Delhi Daredevils            1
350               Mumbai Indians            1
518          Chennai Super Kings            1
598                Gujarat Lions            1
614  Royal Challengers Bangalore            1
734  Royal Challengers Bangalore            1
755               Mumbai Indians            1

Q8. Calculate mean, median and standard deviation of ‘win_by_runs’

In [257]:
print("Mean of win_by_runs is: ", df['win_by_runs'].mean())
print("Mean of win_by_runs is: ", df['win_by_runs'].median())
print("Median of win_by_runs is: ", df['win_by_runs'].std())

Mean of win_by_runs is:  13.283068783068783
Mean of win_by_runs is:  0.0
Median of win_by_runs is:  23.47114399366638

Q9. Find the venue where the team won by the highest and lowest number of runs.

In [258]:
print("Venue (highest runs): ", df[df['win_by_runs'] == df['win_by_runs'].max()]['venue'])
display("Venue lowest runs: ", df[df['win_by_runs'] == 1]['venue'])

Venue (highest runs):  43    Feroz Shah Kotla
Name: venue, dtype: object

'Venue lowest runs: '

58             Rajiv Gandhi International Stadium, Uppal
105                                     Wankhede Stadium
163                                New Wanderers Stadium
344                                     Feroz Shah Kotla
350                           Subrata Roy Sahara Stadium
518                      MA Chidambaram Stadium, Chepauk
598                                     Feroz Shah Kotla
614    Punjab Cricket Association IS Bindra Stadium, ...
734                               M. Chinnaswamy Stadium
755                   Rajiv Gandhi Intl. Cricket Stadium
Name: venue, dtype: object

Q10. Find the players who have won ‘Player of the Match’ more than 3 times.

In [259]:
pom = dict(df['player_of_match'].value_counts())
for i in list(pom.keys()):
    if pom[i] > 3:
        print(f"{i}\t{pom[i]}")

CH Gayle	21
AB de Villiers	20
RG Sharma	17
MS Dhoni	17
DA Warner	17
YK Pathan	16
SR Watson	15
SK Raina	14
G Gambhir	13
MEK Hussey	12
AM Rahane	12
V Kohli	12
V Sehwag	11
DR Smith	11
AD Russell	11
A Mishra	11
JH Kallis	10
KA Pollard	10
SE Marsh	9
AT Rayudu	9
SP Narine	9
Harbhajan Singh	8
SR Tendulkar	8
RA Jadeja	8
UT Yadav	8
Rashid Khan	7
RV Uthappa	7
AC Gilchrist	7
M Vijay	6
RR Pant	6
S Dhawan	6
SL Malinga	6
A Nehra	6
BJ Hodge	6
HH Pandya	6
SC Ganguly	5
SPD Smith	5
PA Patel	5
KC Sangakkara	5
DPMD Jayawardene	5
BB McCullum	5
JP Faulkner	5
AJ Finch	5
DW Steyn	5
Yuvraj Singh	5
SV Samson	5
GJ Maxwell	5
JJ Bumrah	5
Sandeep Sharma	5
JD Unadkat	5
JC Buttler	5
B Kumar	5
KL Rahul	4
KD Karthik	4
JP Duminy	4
MK Pandey	4
NM Coulter-Nile	4
AR Patel	4
N Rana	4
F du Plessis	4
SK Warne	4
CA Lynn	4
SS Iyer	4
ML Hayden	4
KH Pandya	4

Q11. Find all deliveries where the batsman scored a six.

In [260]:
df2 = pd.read_csv("deliveries.csv")
df2.head()

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,2,2,NaN,NaN,NaN

In [261]:
df2[df2['batsman_runs'] == 6]

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
10,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,2,4,DA Warner,S Dhawan,A Choudhary,0,...,0,0,0,0,6,0,6,NaN,NaN,NaN
47,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,8,4,MC Henriques,S Dhawan,TM Head,0,...,0,0,0,0,6,0,6,NaN,NaN,NaN
75,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,13,2,Yuvraj Singh,MC Henriques,A Choudhary,0,...,0,0,0,0,6,0,6,NaN,NaN,NaN
89,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,15,3,Yuvraj Singh,MC Henriques,S Aravind,0,...,0,0,0,0,6,0,6,NaN,NaN,NaN
91,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,15,5,MC Henriques,Yuvraj Singh,S Aravind,0,...,0,0,0,0,6,0,6,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
178987,11415,2,Chennai Super Kings,Mumbai Indians,6,4,SR Watson,SK Raina,SL Malinga,0,...,0,0,0,0,6,0,6,NaN,NaN,NaN
179048,11415,2,Chennai Super Kings,Mumbai Indians,16,1,DJ Bravo,SR Watson,SL Malinga,0,...,0,0,0,0,6,0,6,NaN,NaN,NaN
179061,11415,2,Chennai Super Kings,Mumbai Indians,18,2,SR Watson,DJ Bravo,KH Pandya,0,...,0,0,0,0,6,0,6,NaN,NaN,NaN
179062,11415,2,Chennai Super Kings,Mumbai Indians,18,3,SR Watson,DJ Bravo,KH Pandya,0,...,0,0,0,0,6,0,6,NaN,NaN,NaN
179063,11415,2,Chennai Super Kings,Mumbai Indians,18,4,SR Watson,DJ Bravo,KH Pandya,0,...,0,0,0,0,6,0,6,NaN,NaN,NaN

Q12. Compute the average runs scored in matches in all the venues.

Q13. Find the umpires who umpired the maximum number of times.

In [262]:
# df.fillna("None") 
# df['umpire1'].value_counts() + df['umpire2'].value_counts() + df['umpire3'].value_counts()
# I was doing this but asked GPT which told to use concat

pd.concat([df['umpire1'], df['umpire2'], df['umpire3']]).value_counts()

S Ravi                     114
HDPK Dharmasena             87
C Shamshuddin               83
AK Chaudhary                58
SJA Taufel                  55
                          ...
Sundaram Ravi                2
SD Ranade                    2
Subroto Das                  1
Nand Kishore                 1
Chettithody Shamshuddin      1
Length: 76, dtype: int64

Q14. Find the total number of matches played in each season.

In [263]:
df['season'].value_counts()

2013    76
2012    74
2011    73
2010    60
2014    60
2016    60
2018    60
2019    60
2017    59
2015    59
2008    58
2009    57
Name: season, dtype: int64

Q15. Find total runs scored in each season.

In [298]:
# df2.groupby('match_id')['total_runs'].sum()

Q16. Calculate total number of runs scored by each batsman and display top 10.

In [285]:
# df2.columns
# df2.groupby('batsman')['total_runs'].value_counts()

Q17. Compute the total number of wickets taken by each bowler.

Q18. Compute batting averages and display top 10.

Q19. Visualize toss decisions across all seasons.

Q20. Visualize Total Matches vs Winning Matches vs Win Rate for all teams.

Q21. Find the distribution of the teams who won the matches.

Q22. Visualize the toss outcomes of all teams.

Q23. Visualize the top 5 teams with the most wins across all seasons.